.viewEmployeePageContainer {
    width: 80%;
    height: 93vh;
    padding-left: 20px;
}

.viewEmployeePageHeading {
    display: flex;
    align-items: center;
    gap: 10px;
}

.viewEmployeePageSubheading {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #0886FA;
    padding-left: 15px;
}

.viewEmployeePageSubheading p {
    font-size: 20px;
    font-weight: 500;
}

.viewEmployeePageHR {
    margin: 0;
    padding-left: 15px;
    border: 0;            
    border-top: 1px solid #E8E8E8; 
    background-color: transparent; 
}

.viewEmployeePhoto {
    width: 150px;
    height: 150px;
    border-radius: 25px;
    border: 1px solid #E3E3E3;
    margin-top: 30px;
    position: relative;
}

.cameraIcon {
    position: absolute;
    top: 63px;
    left: 60px;
}

.viewEmployeePageDetails {
    margin-top: 30px;
    padding: 0 15px;
}

.detail-row {
    display: flex;
    gap: 30px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.detail-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.detail-label {
    font-size: 14px;
    font-weight:300;
    color: #666;
    margin-bottom: 5px;
}

.detail-value {
    font-size: 16px;
    color: #333;
}

.detail-divider {
    border: 0;
    border-top: 1px solid #E8E8E8;
    margin: 15px 0;
}

.backIcon {
    cursor: pointer;
}